@charset "UTF-8";
/*
==================================================================================
Global rules
==================================================================================
*/
html {
    margin: 2%;
}
body {
    margin: auto;
    max-width: 860px;
	font-family: "Helvetica Neue", "Liberation Sans", Calibri, Arial, sans-serif;
	font-size: 100%;
}
section, header, footer {
	outline: 1px solid red; /*provisorisk*/
}
/*
section, header, footer, nav, div[role=main] {
    outline: 1px solid red;
}
*/
/*
==================================================================================
Rules for reusable components
==================================================================================
*/

/* dborder ska vara här - avsnitt 11.7 */
header {
	text-align: center;
}
h1 {
	font-family: 'Merienda One', cursive;
}
.startpage {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.startpage header,
.startpage footer {
		flex: 0 0 100%;
}
.startpage section{
	flex: 0 0 22%;
}
.startpage h1 {
	font-size: 500%;
	font-family: 'Merienda One', cursive;
}
.tagline {
	font-size: 120%;
	padding: 0.5em;
	border-top: 3px double #00AF64;
	border-bottom: 3px double #00AF64;
	margin: 1em 0;
}
.menu > h2 {
	margin: 0 0 1em;
	padding: 2em 0;
	background-color: #F5F5F5;
	text-align: center;
	box-shadow: inset 0 0 20px #007241;
	border-radius: 50%;
	font-family: 'Merienda One', cursive;
}
.menu a:link,
.menu a:visited {
	text-decoration: none;
	color: #000;
}
.menu a:focus,
.menu a:hover {
	text-decoration: underline;
	color: #A62F00;
}
.menu a:active {
	text-decoration: underline;
	color: #FF4900;
}
footer {
	margin-top: 3em;
	text-align: center;
	color: #999;
}




/*
==================================================================================
Subpages
==================================================================================
*/

/* TODO Avsnitt 11.4.1, 11.6,  */

/*
==================================================================================
Tables
==================================================================================
*/

/* TODO Avsnitt 12.3 */

/*
==================================================================================
Nivo Slider
==================================================================================
*/

/* TODO Avsnitt 14.7.4 */

/*
==================================================================================
Forms (contact page)
==================================================================================
*/

/* TODO Avsnitt 13.8.2 */

/*
==================================================================================
Blog page, show and edit
==================================================================================
*/

/* Detta kommer i boken Webbserverprogrammering 1 */

/*
==================================================================================
Adaptive design
==================================================================================
*/
.tagline button {
    /* display: none; */ /* Aktivera */
}
@media (max-width: 750px) {
    .hwrap > a {
        margin-right: 25px;
    }
    /* Lägg till regler enligt kapitel 15 */
}

/* TODO Avsnitt 15.4.2 + arbetsboken */

